<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Flight information</mat-card-title>
    <br>
    <mat-card-subtitle>{{flight.airlineCode}} {{flight.flightNumber}} {{flight.operationalSuffix}} {{flight.flightIdentifierDate | date: 'medium'}} {{flight.aircraftRegistration}} {{flight.aircraftType}} </mat-card-subtitle>
  </mat-card-header>
  <br>

  <mat-card-content>
    <div class="scrollable">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="dep_esc">
          <th mat-header-cell *matHeaderCellDef> Departure station </th>
          <td mat-cell *matCellDef="let element"> {{element.departureStation}} </td>
        </ng-container>

        <ng-container matColumnDef="arr_esc">
            <th mat-header-cell *matHeaderCellDef> Arrival station </th>
            <td mat-cell *matCellDef="let element"> {{element.arrivalStation}} </td>
        </ng-container>

        <ng-container matColumnDef="dep_time">
            <th mat-header-cell *matHeaderCellDef> Departure time </th>
            <td mat-cell *matCellDef="let element"> {{element.lastKnownDepartureDateTime}} </td>
        </ng-container>

        <ng-container matColumnDef="dep_time_type">
            <th mat-header-cell *matHeaderCellDef> dep. time type </th>
            <td mat-cell *matCellDef="let element"> {{element.lastKnownDepartureTimeType | timeType}} </td>
        </ng-container>

        <ng-container matColumnDef="arr_time">
           <th mat-header-cell *matHeaderCellDef> Arrival time </th>
           <td mat-cell *matCellDef="let element"> {{element.lastKnownArrivalDateTime}} </td>
        </ng-container>

        <ng-container matColumnDef="arr_time_type">
            <th mat-header-cell *matHeaderCellDef> arr. time type </th>
            <td mat-cell *matCellDef="let element"> {{element.lastKnownArrivalTimeType | timeType}} </td>
        </ng-container>

        <ng-container matColumnDef="pkg_dep">
            <th mat-header-cell *matHeaderCellDef> Departure parking </th>
            <td mat-cell *matCellDef="let element"> {{element.depPkg}} </td>
        </ng-container>

        <ng-container matColumnDef="pkg_arr">
            <th mat-header-cell *matHeaderCellDef> Arrival parking </th>
            <td mat-cell *matCellDef="let element"> {{element.arrPkg}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </mat-card-content>

</mat-card>
