

.example-header-image {
  background-image: url('https://is1-ssl.mzstatic.com/image/thumb/Purple5/v4/84/4c/dd/844cdda8-c8b1-e31e-6dba-da30e1c47e77/source/256x256bb.jpg');
  background-size: cover;
}

table {
  width: 100%;
}

mat-card-title {
  font-size: 5px;

}

.scrollable {
  height: 231px;
  overflow: scroll;
  width: 100%;
}

mat-card-subtitle {
  color: #ed0000;
}

