.example-card {
  width: 100%;
  height: 90%;

}

.example-header-image {
  background-image: url('https://i.pinimg.com/originals/1b/63/98/1b6398ec7c18f9e3adf043304e875246.png');
  background-size: cover;
}

table {
  width: 100%;
}

mat-card-title {
  font-size: 5px;
}

.scrollable {
  height: 100%;
  overflow: scroll;
  width: 100%;
}

