.mat-list1 button {
    width: 15%;
    margin: 5%;


}
.mat-list2 button {
    width: 15%;
    margin: 5%;



}
.mat-raised-button {
  font-weight: bold;
  color:white;
  background-color:#ed0000;
  text-align: justify;
}
.mat-raised-button:hover{
  background-color: #051039
}

mat-raised-button {
  display: flex;
  flex-direction: column;
}

.disp {
  display: flex;
  flex-direction: column;
}
.line-right {
  margin-right: 3px;
}
.line-left {
  margin-left: 3px;
}
mat-card {
  height: 80%;
}

button {
  margin-bottom: 10px;
}
/* button:visited {
  background-color: black;
}
 */
