.mat-list1 button {
    width: 15%;
    margin: 5%;


}
.mat-list2 button {
    width: 15%;
    margin: 5%;
    /* #051039 */


}
.mat-raised-button {
  font-weight: bold;
  color:#051039;
  background-color:white;
  text-align: justify;
  /* border: 2px solid #051039; */
  box-shadow: -1px 2px 5px 1px

}
.mat-raised-button:hover{
  background-color:#ed0000 ;
  color: white;
}

mat-raised-button {
  display: flex;
  flex-direction: column;
}

.disp {
  display: flex;
  flex-direction: column;
}
.line-right {
  margin-right: 3px;
}
.line-left {
  margin-left: 3px;
}
mat-card {
  height: 80%;
}

button {
  margin-bottom: 10px;
}
/* button:visited {
  background-color: black;
}
 */
