<mat-card class="mat-list1">
  <button mat-raised-button (click)="openAaDialog()">AA : Actual Arrival</button>
  <button mat-raised-button (click)="openAdDialog()">AD : Actual Depart</button>
  <button mat-raised-button (click)="openAxDxDialog()">AX/DX : Actual Arrival</button>
  <button mat-raised-button (click)="openToDialog()">TakeOf : Actual Depart</button> -->
</mat-card>

<mat-card class="mat-list2">
  <button mat-raised-button (click)="openEaDialog()">EA : Estimated Arrival</button>
  <button mat-raised-button (click)="openEdDialog()">ED : Estimated Departure</button>
  <button mat-raised-button (click)="openNiDialog()">NI: next information</button>
  <button mat-raised-button (click)="openTdDialog()">Touchdown</button> -->
</mat-card>
