<div class="events">
  <button mat-raised-button (click)="openDialog()">AA</button>
  <button mat-raised-button (click)="openDialog()">AD</button>
  <button mat-raised-button (click)="openDialog()">EA</button>
  <button mat-raised-button (click)="openDialog()">AO</button>
  <button mat-raised-button (click)="openDialog()">EB</button>
  <button mat-raised-button (click)="openDialog()">TSA</button>
  <button mat-raised-button (click)="openDialog()">RR</button>
  <button mat-raised-button (click)="openDialog()">FR</button>
 </div>
