<mat-grid-list cols="2" rowHeight="1:0.5">
  <mat-grid-tile>
    <button mat-raised-button (click)="openDialog()">AA</button>
    <button mat-raised-button (click)="openDialog()">AD</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button (click)="openDialog()">EA</button>
    <button mat-raised-button (click)="openDialog()">EB</button>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="2" rowHeight="1:0.5">
  <mat-grid-tile>
    <button mat-raised-button (click)="openDialog()">AO</button>
    <button mat-raised-button (click)="openDialog()">AX</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button (click)="openDialog()">NI</button>
    <button mat-raised-button (click)="openDialog()">DX</button>
  </mat-grid-tile>
</mat-grid-list>
