
<h1 mat-dialog-title> {{data.flight.company}} - Actual Arrival</h1>
<div>
<mat-label> Current Actual : {{(data.flight.flightLegs[0].depTime)}} / {{(data.flight.flightLegs[0].depTimeType)}}
</mat-label><br>
<mat-label>Touchdown : {{data.flight.flightLegs[0].touchdown}} </mat-label>
</div>
<div class="pop">
 <mat-form-field>
   <input matInput placeholder=" Actual arrival (Format : hh:mm) <default: 0950>">
 </mat-form-field>

 <mat-form-field>
  <input matInput placeholder="Delay Code">
 </mat-form-field>

 <mat-form-field>
   <input matInput [matDatepicker]="picker" placeholder="Choose a date">
   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
   <mat-datepicker touchUi #picker></mat-datepicker>
 </mat-form-field>
 <div mat-dialog-actions>
 <button mat-button [mat-dialog-close]="data.flight.company" cdkFocusInitial>Submit</button>
 </div>
</div>
