<div class="header-container">
  <div class="header-logo">
    <a class="logo" id="idLogoAF" href="https://www.airfrance.fr/" target="_blank" data-di-id="#idlogoAF">
      <img src="//objects.airfrance.com/FR/common/common/img/tab1st/header/logo_air_france.svg" height="24" class="" data-src="//objects.airfrance.com/FR/common/common/img/tab1st/header/logo_air_france.svg" alt="Air France">
    </a>
    <a class="header__logoST" id="idlogoST" href="//www.skyteam.com/fr" target="_blank" data-di-id="#idlogoST">
      <img src="//objects.airfrance.com/FR/common/common/img/tab1st/header/logo_skyteam.svg" height="24" class="" data-src="//objects.airfrance.com/FR/common/common/img/tab1st/header/logo_skyteam.svg" alt="SkyTeam">
    </a>
    <span class="title">ASTRID EVENT SIMULATOR</span>
  </div>
</div>
