<h1 mat-dialog-title> {{data.name}}</h1>
<div class="pop">
  <mat-form-field>
    <input matInput placeholder="Estimated departure (Format : hh:mm)">
  </mat-form-field>

  <mat-form-field>
   <input matInput placeholder="Delay Code">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
  </mat-form-field>
  <div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Submit</button>
  </div>
</div>
