
mat-grid-tile {
  background: white;

}

app-search-flight-info {
  width: 90%;
  margin-left: 10%;
}

app-flight-info {
  width: 90%;
  margin-right: 5%;

}
.event-msg {
  width: 91%;
  height: 100%;
}

mat-grid-list{
  padding-top: 0;
}

.example-card {
  width: 100%;
  height: 90%;
  padding-top: 0%;

}
