
mat-grid-tile {
  background: white;

}

app-search-flight-info {
  width: 90%;
  margin-left: 10%;
}

app-flight-info {
  width: 90%;
  margin-right: 5%;

}
.event-msg {
  width: 91%;
  height: 100%;

}

.top {
  margin-top: 0%;
}

app-header {
  margin-bottom: 0%;
}

.premier {
  padding: 0%;
}

.deuxieme {
  padding: 0%;
}
